<div class="relative px-6 pt-12 pb-32 mx-auto w-100 sm:max-w-2xl md:max-w-3xl md:px-12 lg:max-w-5xl xl:max-w-7xl xl:px-32 md:pt-32">
	<div class="block rounded-lg bg-teal-800 bg-opacity-90 px-6  shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]  md:py-4 md:px-12">
		<div class=" px-4 py-8 mx-auto lg:py-10">
			<h2 class="mb-10 text-5xl font-bold text-center text-amber-400 ">Étape
				{{step}}
			</h2>
			<form method="POST" action="/addStep/{{step}}/{{recipeId}}">
				<div class="grid gap-4 mb-4 md:grid-cols-2 md:gap-6 md:mb-5 ">

					<div class="relative col-span-1 md:col-span-2 max-w-2xl mx-auto w-full md:px-10 ">
						<label for="title" class="block mb-2 text-sm font-medium text-teal-50 ">Titre de l'étape</label>
						<input type="text" name="title" id="title" class="border border-gray-300 {% if errors.title %} ring-2 ring-red-500 bg-red-100 {% else %}  bg-gray-50 {% endif %}  text-gray-900 text-sm rounded-lg focus:outline-teal-700 block w-full p-2.5 transition-all " {% if post %} value="{{post.title}}" {% else %} {% endif %} placeholder="Titre de l'étape" required>
						{% if errors.title %}
							<div class="absolute right-0 flex items-center pr-3 pointer-events-none top-10 ">
								<svg class="w-5 h-5 text-red-500" width="16" height="16" fill="currentColor" viewbox="0 0 16 16" aria-hidden="true">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
								</svg>
							</div>
							<p class="mt-2 text-red-500">{{errors.title}}</p>
						{% endif %}
					</div>

					<div class="relative col-span-1 md:col-span-2 max-w-2xl mx-auto w-full md:px-10">
						<label for="details" class="block mb-2 text-sm font-medium text-teal-50 ">Détails</label>
						<textarea id="details" name="details" class="py-3 px-4 block w-full border border-gray-300 {% if errors.details %} ring-2 ring-red-500 bg-red-100 {% else %}  bg-gray-50 {% endif %}  rounded-md text-sm focus:outline-teal-700 " rows="6" >{% if post %}{{post.details}}"{% endif %}</textarea>
						{% if errors.details %}
							<div class="absolute right-0 flex items-center pr-3 pointer-events-none top-10 ">
								<svg class="w-5 h-5 text-red-500" width="16" height="16" fill="currentColor" viewbox="0 0 16 16" aria-hidden="true">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
								</svg>
							</div>
							<p class="mt-2 text-red-500">{{errors.details}}</p>
						{% endif %}
					</div>


					<div class="bg-teal-900 rounded-lg md:col-span-2 p-5 md:p-10  grid gap-4 my-4 grid-cols-2 md:grid-cols-6 md:gap-6">
						<h3 class="text-3xl font-bold text-center text-amber-400 mb-4 md:mb-10 col-span-2 md:col-span-6">Ingrédients</h3>

					

                        <div class="relative col-span-2 md:col-span-2  mx-auto w-full  ">
							<label for="type" class="block  col-span-1 mb-2 text-sm font-medium text-white">Catégorie
							</label>
							<div class="relative">
								<select id="type" name="type" class="border border-gray-300 {% if errors.type %} ring-2 ring-red-500 bg-red-100 {% else %}  bg-gray-50 {% endif %}  text-gray-900 text-sm rounded-lg  focus:outline-teal-700 block w-full p-2.5 transition-all ">
									{% if post %}
										<option selected value="{{post.type}}">{{post.type}}</option>
									{% endif %}
									<option value="legumerie">Légumerie</option>
									<option value="boucherie">Boucherie</option>
									<option value="poissonnerie">Poissonnerie</option>
									<option value="bof">B.O.F</option>
                                    <option value="economat">Economat</option>
								</select>
								{% if errors.type %}
									<div class="absolute inset-y-0 right-0 flex items-center pr-8 pointer-events-none">
										<svg class="w-4 h-4 text-red-500" width="16" height="16" fill="currentColor" viewbox="0 0 16 16" aria-hidden="true">
											<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
										</svg>
									</div>
								{% endif %}
							</div>
							{% if errors.type %}
								<p class="mt-2 text-sm text-red-600">{{errors.type}}</p>
							{% endif %}
						</div>

						<div class="relative col-span-1  mx-auto w-full ">
							<label for="price" class="block mb-2 text-sm font-medium text-teal-50 ">Prix</label>
							<input type="number" name="price" id="price" class="border w-full border-gray-300 {% if errors.price %} ring-2 ring-red-500 bg-red-100 {% else %}  bg-gray-50 {% endif %}  text-gray-900 text-sm rounded-lg  focus:outline-teal-700 block  p-2.5 transition-all" placeholder="Nombre" {% if post %} value="{{post.price}}" {% else %} value="1" {% endif %} min="1" required>
							{% if errors.price %}
								<div class="absolute right-0 flex items-center pr-3 pointer-events-none top-10 ">
									<svg class="w-5 h-5 text-red-500" width="16" height="16" fill="currentColor" viewbox="0 0 16 16" aria-hidden="true">
										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
									</svg>
								</div>
								<p class="mt-2 text-red-500">{{errors.price}}</p>
							{% endif %}
						</div>


						<div class="relative col-span-1  mx-auto w-full ">
							<label for="unit_mesure" class="block col-span-1 mb-2 text-sm font-medium text-white">U
							</label>
							<div class="relative">
								<select id="unit_mesure" name="unit_mesure" class="border border-gray-300 {% if errors.unit_mesure %} ring-2 ring-red-500 bg-red-100 {% else %}  bg-gray-50 {% endif %}  text-gray-900 text-sm rounded-lg  focus:outline-teal-700 block w-full p-2.5 transition-all ">
									{% if post %}
										<option selected value="{{post.unit_mesure}}">{{post.unit_mesure}}</option>
									{% endif %}
									<option value="kg">Kg</option>
									<option value="g">g</option>
									<option value="l">l</option>
									<option value="pce">pce</option>
								</select>
								{% if errors.unit_mesure %}
									<div class="absolute inset-y-0 right-0 flex items-center pr-8 pointer-events-none">
										<svg class="w-4 h-4 text-red-500" width="16" height="16" fill="currentColor" viewbox="0 0 16 16" aria-hidden="true">
											<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
										</svg>
									</div>
								{% endif %}
							</div>
							{% if errors.unit_mesure %}
								<p class="mt-2 text-sm text-red-600">{{errors.unit_mesure}}</p>
							{% endif %}
						</div>

					</div>


					<div class="col-span-1 mt-4 text-center md:col-span-2 flex justify-center gap-5">
						<button type="submit" name="action" value="next" class="item-center text-black bg-amber-400 hover:bg-yellow-400 focus:ring-4 focus:outline-none focus:ring-cyan-300  shadow-lg shadow-amber-500/50  font-medium rounded-md text-lg px-5 py-2.5 text-center mr-2 mb-2">Etape suivante</button>
						<button type="submit" name="action" value="end" class="item-center text-black bg-amber-400 hover:bg-yellow-400 focus:ring-4 focus:outline-none focus:ring-cyan-300  shadow-lg shadow-amber-500/50  font-medium rounded-md text-lg px-5 py-2.5 text-center mr-2 mb-2">Terminer</button>

					</div>

				</div>
			</form>
		</div>
	</div>
</div>
