<div class="relative px-6 pt-12 pb-32 mx-auto w-100 sm:max-w-2xl md:max-w-3xl md:px-12 lg:max-w-5xl xl:max-w-7xl xl:px-32 md:pt-32">
	<div class="block rounded-lg bg-teal-800 bg-opacity-90 px-6  shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]  md:py-4 md:px-12">
		<div class=" px-4 py-8 mx-auto lg:py-10">
			<h2 class="mb-10 text-5xl font-bold text-center text-amber-400 ">Étape
				{{step}}
			</h2>
			<form method="POST" action="/addStep/{{step}}/{{recipeId}}">
				<div class="grid gap-4 mb-4 md:grid-cols-2 md:gap-6 md:mb-5 ">

					<div class="relative col-span-1 md:col-span-2 max-w-2xl mx-auto w-full md:px-10 ">
						<label for="title" class="block mb-2 text-sm font-medium text-teal-50 ">Titre de l'étape</label>
						<input type="text" name="title" id="title" class="border border-gray-300 {% if errors.title %} ring-2 ring-red-500 bg-red-100 {% else %}  bg-gray-50 {% endif %}  text-gray-900 text-sm rounded-lg focus:outline-teal-700 block w-full p-2.5 transition-all " {% if post %} value="{{post.title}}" {% else %} {% endif %} placeholder="Titre de l'étape" required>
						{% if errors.title %}
							<div class="absolute right-0 flex items-center pr-3 pointer-events-none top-10 ">
								<svg class="w-5 h-5 text-red-500" width="16" height="16" fill="currentColor" viewbox="0 0 16 16" aria-hidden="true">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
								</svg>
							</div>
							<p class="mt-2 text-red-500">{{errors.title}}</p>
						{% endif %}
					</div>

					<div class="relative col-span-1 md:col-span-2 max-w-2xl mx-auto w-full md:px-10">
						<label for="details" class="block mb-2 text-sm font-medium text-teal-50 ">Détails</label>
						<textarea id="details" name="details" class="py-3 px-4 block w-full border border-gray-300 {% if errors.details %} ring-2 ring-red-500 bg-red-100 {% else %}  bg-gray-50 {% endif %}  rounded-md text-sm focus:outline-teal-700 " rows="6">{% if post %}{{post.details}}{% endif %}</textarea>
							
								
							
						
						{% if errors.details %}
							<div class="absolute right-0 flex items-center pr-3 pointer-events-none top-10 ">
								<svg class="w-5 h-5 text-red-500" width="16" height="16" fill="currentColor" viewbox="0 0 16 16" aria-hidden="true">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
								</svg>
							</div>
							<p class="mt-2 text-red-500">{{errors.details}}</p>
						{% endif %}
					</div>

					
					<div id="ingredientStepInputs" class="bg-teal-900 rounded-lg md:col-span-2 py-5 flex flex-col justify-center items-center ">
						<h3 class="text-3xl font-bold text-center text-amber-400 mb-4 md:mb-10 ">Ingrédients</h3>
						<button id="createInputBtn" type="button" class="py-1 px-3 rounded-md border border-transparent bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all ">
							<span class="flex pb-1 items-center justify-center text-5xl">
								+
							</span>
						</button>

						<!--ligne d'ingrédients -->
						


					</div>

					<div class="col-span-1 mt-4 text-center md:col-span-2 flex justify-center gap-5">
						<button type="submit" name="action" value="next" class="item-center text-black bg-amber-400 hover:bg-yellow-400 focus:ring-4 focus:outline-none focus:ring-cyan-300  shadow-lg shadow-amber-500/50  font-medium rounded-md text-lg px-5 py-2.5 text-center mr-2 mb-2">Etape suivante</button>
						<button type="submit" name="action" value="end" class="item-center text-black bg-amber-400 hover:bg-yellow-400 focus:ring-4 focus:outline-none focus:ring-cyan-300  shadow-lg shadow-amber-500/50  font-medium rounded-md text-lg px-5 py-2.5 text-center mr-2 mb-2">Terminer</button>

					</div>

				</div>
			</form>
		</div>
	</div>
</div>

{% if post %}

{% endif %}


<script>
	let ingredients = {{ ingredients | json_encode }}
	{% if nmbrInputs %}
		let nmbrInput = {{nmbrInputs}}
	{% endif %}

	{% if post %}
		let post = {{ post | json_encode }}
	{% endif %}

	{% if errors.ingredients %}
		let errors = {{ errors.ingredients | json_encode }}
		console.log(errors);
	{% endif %}
</script>
